target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### Local secrets ###
.env
.env.*
!.env.example
secrets.properties

### Maven Wrapper ###
.mvn/wrapper/MavenWrapperDownloader.java

### Local tools cache ###
.tools/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/workspace.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Local runtime artifacts ###
.discordbot.instance.lock
# Local IDE run configs (may contain tokens)
.run/
.idea/copilotDiffState.xml
.idea/vcs.xml
.idea/discord.xml
